*{ margin:0; padding:0; }
li{list-style: none;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.clearfix::after{content:"";display:block;clear:both;}

.window{
    margin: 100px auto 20px;
    width: 600px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
}
.window > .wrapper{
    display: flex;
    border-radius: 6px;
    transition: transform 0.5s;
}
.window > .wrapper > li > img{
    vertical-align: top;
    border-radius: 6px;
}

.index{
    text-align: center;
}
.index > ul{
    display: inline-block;
    vertical-align: top;
}
.index > ul > li{
    float: left;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #FBAB51;
    margin: 0 6px;
    transition: all 0.2s;
    cursor: pointer;
    opacity: 0.6;
}
.index > ul > li.active{
    background-color: #4E1806;
    transform: scale(1.2);
    opacity: 1;
}